@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  .portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
  }

  .navlist{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  .navlist li{
    list-style: none;
  }

  .navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
  }

  .left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
  }
.left-container{
    background: #023047;
    width: 70%;
    padding-left: 3rem;
}

.right-container{
    background: linear-gradient(-45deg, #219ebc, #023047);
    width: 30%;
}

.icons .fa-brands{
  color: #bbb;
  font-size: 1.7rem;
}

.icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem; 
}

.content{
  margin-left: 4rem;
}

.content h2{
  font-size: 1.5rem;
  color: #fff;
}

.content h1{
  font-size: 4rem;
  color: #219ebc;
}

.content p{
  font-size: 1.1rem;
  color: #fff;
  max-width: 38rem;
  margin: 1.1rem 0 3rem 0;
  line-height: 1.8rem;
}

.btn-container button{
  border: .1rem solid #219ebc;
  font-size: 1.1rem;
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: .5s ease;
}

button:nth-child(1){
  background: #219ebc;
  color: #023047;
  text-decoration: none;
}


button:nth-child(1):hover{
  background: transparent;
  color: #219ebc;
}


.icons .fa-brands:hover{
  cursor: pointer;
  background: linear-gradient(#fff,#219ebc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.design .circle{
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.circle:nth-child(1){
  background: linear-gradient(90deg, transparent 50%, #023047 50%);
  width: 38rem;
}

.circle:nth-child(2){
  background: url("../main/pictures/ib.jpg");
  width: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  border: 1rem solid white;
  box-shadow: 0 0 1rem #fff,
  inset 0 0 1rem #fff,
  0 0 2rem #219ebc,
  inset 0 0 2rem #219ebc,
  0 0 4rem #219ebc;
}

.navlist li a::after, .navlist .active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: .1rem;
  background: #fff;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .5s;
}

.navlist li a:hover::after, .navlist .active::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}