body {
    background-image: url(ig.jpg);
    background-position: cover;
    text-align: center;
    background-size: cover;

}
 *{
    
    padding: 0%;
    margin: 0%;
    color: white;
}
#navbar {
    height: 60px;
    background-color: none;

}

#logo {
    font-size: 30px;
    text-align: left;
    
}

 a {
    text-decoration: none;
 }